<h3>To do app</h3>
<!--Se establece el método a utilizar y la acciónn ("/" nos regresa a la vista)-->
<form method="POST" action="/">
    {% csrf_token %}
    <!--Se puede especificar el campo de interés-->
    {{ form.title }}
    <input type="submit" name="createTask">
</form>

{% for task in tasks %}
    <div>
        <a href="{% url 'update_task' task.id %}">Update</a>
        <a href="{% url 'delete_task' task.id %}">Delete</a>
        {% if task.complete == True %}
            <p><del>{{ task }}</del></p>
        {% else %}
            <p><span>{{ task }}</span></p>
        {% endif %}
    </div>
{% endfor %}